
<div class="container-fluid" ng-show="yesToken">
  <h3>Grades Exporter</h3>
  <div class="container-fluid">
    <div class="form-inline row" style="border:0px solid #fff" ng-show="!done">
      <p>Step 1 - give a course id</p>
      <div class="alert alert-danger capitalize" ng-show="courseError">{{courseError}}</div>
      <label for="courseId">Course ID</label><br>
      <input id="courseId" type="text" class="form-control" ng-model='courseId'>
      <button type="button" class="btn btn-primary" ng-click="getAssignments()">
        ...and get assignments
      </button>
    </div>
    <div class="form-inline row" style="border:0px solid #fff" ng-show="done">
      <button type="button" class="btn btn-primary" ng-click="startOver()">
        Start Over
      </button>
    </div>
    <br>
    <div class="row"  ng-show="quizArray.length && !done" style="border:0px solid #fff">
      <br>
      <p>Step 2 - create a set of columns in the report, by picking some quizzes and doing the math</p>
      <div class="col-md-2">
        <ul style="list-style:none;margin:0;padding-left:0">
          <li style="margin:0" ng-repeat="quiz in quizArray">
            <input type="checkbox" id="quiz{{quiz.id}}" ng-model="quiz.selected"   ng-true-value="'{{quiz.name}}'">
            <label for="quiz{{quiz.id}}">{{quiz.name}}</label>
          </li>
        </ul>
      </div>
      <div class="col-md-4 form-inline">
        <div class="panel panel-default">
          <div class="panel-body">
            <input type="radio" name="math" id="addMath"> <label for="addMath">Add</label>
            <br><br>
            <label for="newColName">Column header</label><br>
            <input type="text" ng-model="newColName" id="newColName" class="form-control">
            <br><br>
            <button type="button" class="btn btn-default" ng-click="addColumn()">
              Add column
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="alert alert-warning" ng-show="newColumnError">Select quizzes <strong>and</strong> name the column</div>
        <small>
          <table class="table" ng-show="columns.length">
            <thead>
              <tr>
                <th>
                  user info
                </th>
                <th ng-repeat="column in columns  track by $index">
                  {{column.name}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>user info</td>
                <td ng-repeat="column in columns  track by $index">
                  {{column.names.join(' + ')}}
                </td>
              </tr>
            </tbody>

          </table>
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-show="quizArray.length && columns.length">
        <button type="button" name="doit" ng-show="!done" class="btn btn-primary" ng-click="getQuizList()">Get data</button>
        <span ng-show="started && !done">Parsing quizz responses: {{assListTotal.length}}</span>
        <span ng-show="done">Total students <span ng-show="empties.length ===0">that responded to quizzes</span>: {{assListTotal.length}}</span>
        <p ng-show="empties.length">{{empties.length}} people did not do the quizzes. <a href="" ng-click="removeEmpties()">Remove from list?</a></p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:right">
        <button type="button" name="doit" ng-show="done && !exportStarted" class="btn btn-primary" ng-click="startExport()">Export</button>
        <p ng-show="exportStarted">Select below what columns to keep and then <strong><a href="" ng-click="concludeExport()">export</a></strong><strong ng-show="downloading"> (downlading!)</strong><br>
          <small>Name will not be exported. You have a choice to export UMID or Uniqname or both.</small>
        </p>

        <br><br>
      </div>
    </div>
    <table class="table table-striped table-hover" ng-show="done">
      <thead>
        <tr>
          <th><input ng-model="selectedColumns.sis_login_id" value="uniqname" type="checkbox" name="selectCol" id="selUniqname" ng-show="exportStarted"> <label for="selUniqname">Uniqname</label></th>
          <th><label>Name</label></th>
          <th><input ng-model="selectedColumns.sis_user_id" value="UMID" type="checkbox" name="selectCol" id="selUMID" ng-show="exportStarted"> <label for="selUMID">UMID</label></th>
          <th ng-repeat="col in assListTotal[0].cols">
              <input checked type="checkbox" name="selectCol" id="col{{$index}}" disabled ng-show="exportStarted"> <label for="col{{$index}}">{{col.name}}</label>
            </th>
        </tr>
      </thead>
      <tr ng-repeat="ass in assListTotal | orderBy:'sortable_name'">
        <td>{{ass.sis_login_id}}</td>
        <td>{{ass.sortable_name}}</td>
        <td>{{ass.sis_user_id}}</td>
        <td ng-repeat="col in ass.cols">{{col.calc || ''}}</td>
      </tr>
    </table>
  </div>

</div>
